.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin: 0px;
    margin-top: 3px;
    box-shadow: 0px 0px 15px rgb(170, 170, 170) inset;
}

.day-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: auto;
    border-radius: 12px;
    /*background-color: rgb(240, 240, 240);*/
    background-color: transparent;
    margin: 0px;
    /*box-shadow: 0px 0px 15px rgb(141, 140, 140) inset;*/
    height: auto;
    font-size: 20px;
}
table td{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}