.main-block {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin: 0px;
    margin-top: 3px;
    box-shadow: 0px 0px 15px rgb(170, 170, 170) inset;
}

.day-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: auto;
    padding: 0px;
    padding-left: 10px;
    border-radius: 12px;
    /*background-color: rgb(240, 240, 240);*/
    background-color: transparent;
    margin: 0px;
    /*box-shadow: 0px 0px 15px rgb(141, 140, 140) inset;  */
    height: auto;
    font-size: 15px;
}

.day {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 5px;
    width: auto;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    border-radius: 10px;
    margin: 2px;
    box-shadow: 0px 0px 15px rgb(170, 170, 170) inset;
}

.meal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    width: auto;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 0px 15px rgb(170, 170, 170) inset;
    height: auto;
    text-align: left;
}


.login-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: auto;
    margin: 10px;
    padding: 15px;
    box-shadow: 0px 0px 15px rgb(170, 170, 170) inset;
    border-radius: 12px;
}
.login-row input, button {
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    color: rgb(80, 80, 80);
}
li {
    list-style-type: none;
}




