.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 0px;
    margin-top: 3px;
    box-shadow: 0px 0px 15px rgb(170, 170, 170) inset;
    /*font-size: 20px;*/
}

.list-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: auto;
    margin: 10px;
    padding: 15px;
    box-shadow: 0px 0px 15px rgb(170, 170, 170) inset;
    font-size: 20px;
    color: rgb(80, 80, 80);
}
select, input, button {
    font-size: 20px;
}

table {
    padding: 5px;
    border-spacing: 5px;
    width: auto;
    text-align: center;
}




